<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-fb-yt-links">
	<tr>
		<td><f:translate key="tx_fbytlinks_domain_model_youtubelinks.title" /></td>
		<td>{youTubeLinks.title}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_fbytlinks_domain_model_youtubelinks.berschreibung" /></td>
		<td>{youTubeLinks.berschreibung}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_fbytlinks_domain_model_youtubelinks.url" /></td>
		<td>{youTubeLinks.url}</td>
	</tr>
</table>
</html>
